# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/luminol-server/build.gradle.kts
/luminol-api/build.gradle.kts
/luminol-server/src/minecraft/
/folia-server/
/folia-api/
/paper-server
/paper-api
/luminol-generator.settings.gradle.kts
/test-plugin.settings.gradle.kts

.idea/
